
:root {
    --color-white: #FFFFFF;
    --color-line : #E3E2E2; 
    --color-dark : #2D2D2C;
}
.button__search {
    width: 18.625em;
    height: 1.5625em;
    display: flex;
    margin-left: 7.5em;
}
.search__input {
    width: 18rem;
    height: 1.2rem;
    border: 2px solid var(--color-line);
    border-radius: 25px;
    padding-left: 3.125rem;
    font-size: 14px;
}
.search__input::placeholder{
    color: var(--color-line);
}
.button__search i {
    position: absolute;
    transform: translate(15px, 5px);
    color: var(--color-line);
    font-size: 14px;
}